.App {
  font-family: sans-serif;
  text-align: center;
}

.header {
  background-color: #4c04a3;
  color: white;
  padding: 20px 0;
}

.header h1 {
  margin: 0;
  border-bottom: 2px solid white; /* Tambahkan border bawah pada h1 header */
  padding-bottom: 10px;
}

.header .profession {
  margin-top: 5px;
  font-style: italic;
}

.intro-section {
  padding: 40px 20px;
}

.intro-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.bio {
  text-align: left;
  max-width: 600px;
}

.bio h2 {
  border: 5px solid #ddd; /* Tambahkan border bawah pada h2 bio */
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.contact-section {
  background-color: #f0f0f0;
  padding: 40px 20px;
}

.contact-section h2 {
  border-bottom: 1px solid #ddd; /* Tambahkan border bawah pada h2 contact */
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.contact-link {
  color: #007bff;
  text-decoration: none;
}

.footer {
  background-color: #333;
  color: white;
  padding: 20px 0;
  margin-top: 40px;
}

/* Responsiveness untuk tampilan PC */
@media (min-width: 768px) {
  .intro-content {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }

  .profile-photo {
    margin-right: 40px;
    margin-bottom: 0;
  }

  .bio {
    text-align: left;
    max-width: 600px;
  }
}